<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>HR Bussiness Support System 開発環境</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="top.scss">
</head>
<body>
  <section class="main-header">
     <p class="flash"><%= notice %><%= alert %></p>
     <img src="<%= asset_path "IMG_7876.JPG" %>">
  </section>

</body>
</html>
